@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

nav {
  font-family: 'Poppins', sans-serif;
}

/* Optional: Style specific elements */
nav a {
  font-family: 'Poppins', sans-serif;
  font-weight: 400; /* Default weight, adjust as needed */
}

nav .group span {
  font-family: 'Poppins', sans-serif;
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slide-down {
  animation: slideDown 0.3s ease forwards;
}

/* Add to existing styles */
.mobile-menu-enter {
  transform: translateX(-100%);
}

.mobile-menu-enter-active {
  transform: translateX(0);
  transition: transform 300ms ease-in-out;
}

.mobile-menu-exit {
  transform: translateX(0);
}

.mobile-menu-exit-active {
  transform: translateX(-100%);
  transition: transform 300ms ease-in-out;
}